#  read data

In [87]:
import pandas as pd
import mysql.connector as sql

In [82]:
df = pd.read_excel ('data/IMEX-IN-2016-06-EX.part2.xlsx',engine='openpyxl')

In [83]:
df.head(5)

,BillNO,4Digit,Date,HSCode,Product,Quantity,Unit,Item_Rate_INV,Currency,Total_Amount_INV_FC,...,IndianCompany,Address1,Address2,City,ForeignCompany,Invoice_No,CUSH,IEC_PIN,Item_No,Item_Rate_INR
0,8001439,2915,2016-06-01,29157090,ETHYLENE GLYCOL DISTERATE (Assay 98% minimum) ...,2400.000,KGS,2.855,USD,6852.000000,...,"GALAXY SURFACTANTS LTD.,","C-49/2,TTC INDUSTRIAL AREAPAWNE, NAVI MUMBAI.",NaN,MAHARASHTRA,UNILEVER BANGLADESH LTD.,80206964,INNSA1,400703,1,181.666300
1,8021997,2915,2016-06-01,29159090,COSMOSIL IM,2100.000,KGS,5.750,USD,12075.000000,...,DADIA CHEMICAL INDUSTRIES,"201, SHIVAM , 3RD FLOOR, SATYAM SHOPPING CENT...",NaN,"GHATKOPAR (EAST), MUMBAI","HARUMI HOLDINGS (PVT) LTD,",DCI/EXP-03/16-17,INNSA1,PIN-400077,1,387.831548
2,8019786,2916,2016-06-01,29163190,MEBEVERINE HCL BP,750.000,KGS,85.000,USD,63750.000000,...,RA CHEM PHARMA LIMITED,"#.6-3-1239/2, AMAR HOUSE, 4TH FLOORRAJBHAWAN R...",NaN,"HYDERABAD, A.P.",MEDICAL & COSMETIC PRODUCTS CO.LTD,EXP/A106/16-17,INHYD4,500082,1,5512.002000
3,8006507,2916,2016-06-01,29163990,WE INTEND TO CLAIM REWARDS UNDER MERCHANDISE E...,0.001,NOS,0.001,USD,0.000001,...,CHEMSPEC CHEMICALS PVT LTD,9 WALLACE ST FORT,NaN,"BOMBAY ,MAHARASHTRA",COSBEL S.A. DE C.V.,CSEXP/2016-17/143,INNSA1,400001,2,0.000000
4,8015210,2917,2016-06-01,29171990,"""Payflex-M-80"" Di Octyl Maleate Ester, C",44000.000,KGS,1.180,USD,51920.000000,...,PAYAL PETROCHEM PRIVATE LIMITED,"E-24, NETAJI SUBHASH MARGDARYAGANJ",NaN,NEW DELH I,S. S. C. I.. C. L.,PM/EXP/048,INHZA1,NaN,1,0.000000

In [84]:
col_name = df.columns
print(col_name)

Index(['BillNO', '4Digit', 'Date', 'HSCode', 'Product', 'Quantity', 'Unit',
       'Item_Rate_INV', 'Currency', 'Total_Amount_INV_FC', 'FOB INR',
       'ForeignPort', 'ForeignCountry', 'IndianPort', 'IEC', 'IndianCompany',
       'Address1', 'Address2', 'City', 'ForeignCompany', 'Invoice_No', 'CUSH',
       'IEC_PIN', 'Item_No', 'Item_Rate_INR'],
      dtype='object')

In [9]:
df.count(axis=0)

BillNO                 97057
4Digit                 97057
Date                   97057
HSCode                 97057
Product                97057
Quantity               97057
Unit                   97057
Item_Rate_INV          97057
Currency               97057
Total_Amount_INV_FC    97057
FOB INR                97057
ForeignPort            97057
ForeignCountry         96827
IndianPort             97057
IEC                    97057
IndianCompany          97057
Address1               97048
Address2                   0
City                   97039
ForeignCompany         97057
Invoice_No             97055
CUSH                   97057
IEC_PIN                94716
Item_No                97057
Item_Rate_INR          97057
dtype: int64

In [97]:
len(df)

97057

## insert dataframe to sql

In [99]:
# mydb = sql.connect(
#   host="127.0.0.1",
#   user="wsh",
#   password="8384810",
#   database="Isynet_Test",
#   auth_plugin='mysql_native_password'
# )
from sqlalchemy import create_engine
my_conn = create_engine("mysql+mysqldb://wsh:8384810@localhost/Isynet_Test")
# cursor = mydb.cursor()
df.to_sql('excel_data', con=my_conn)

## data query

In [100]:
query="SELECT * FROM excel_data WHERE HSCode='29157090'"
df_q=pd.read_sql(query,my_conn)
df_q.head() # Data taken from table and DataFrame output

,index,BillNO,4Digit,Date,HSCode,Product,Quantity,Unit,Item_Rate_INV,Currency,...,IndianCompany,Address1,Address2,City,ForeignCompany,Invoice_No,CUSH,IEC_PIN,Item_No,Item_Rate_INR
0,0,8001439,2915,2016-06-01,29157090,ETHYLENE GLYCOL DISTERATE (Assay 98% minimum) ...,2400.0,KGS,2.855,USD,...,"GALAXY SURFACTANTS LTD.,","C-49/2,TTC INDUSTRIAL AREAPAWNE, NAVI MUMBAI.",None,MAHARASHTRA,UNILEVER BANGLADESH LTD.,80206964,INNSA1,400703,1,181.666300
1,11,8015224,2915,2016-06-01,29157090,PLASTAID-T NEUTRALISED AMIDE ESTER,24000.0,KGS,1.700,EUR,...,"FINE ORGANIC INDUSTRIES,","FINE HOUSE, ANANDJI STREET, OFF.M. G. ROAD, GH...",None,MUMBAI. MAHARASHTRA,M/S. WTH GMBH,E/019/16-17,INNSA1,400077,1,126.055000
2,47,8007164,2915,2016-06-01,29157090,FINALUX-G-741 PENTA ADIPATE STEARATE,4000.0,KGS,2.380,USD,...,FINE ORGANIC INDUSTRIES PVT LTD,"FINE HOUSE,ANANDJI STREET,OFF.M.G.ROAD, GHATKO...",None,"MUMBAI, MAHARASHTRA",SYNETICA (PTY) LTD,PI/062/16-17,INNSA1,400077,1,154.669813
3,63,8019514,2915,2016-06-01,29157090,ETHYLENE GLYCOL MONO STEARATE (EGMS) /GALAXY 600,10500.0,KGS,1.320,EUR,...,"GALAXY SURFACTANTS LTD.,","C-49/2,TTC INDUSTRIAL AREAPAWNE, NAVI MUMBAI.",None,MAHARASHTRA,M/S. BERG & SCHMIDT GMBH & CO. KG,80207000,INNSA1,400703,1,95.653500
4,90,8008953,2915,2016-06-01,29157090,OTHER. SPAN 60-FL-(TH). SATURATED ACYCLIC MONO...,2000.0,KGS,2.950,USD,...,CRODA INDIA COMPANY PRIVATE LIMITED.,"6, FORT VIJAY SOC.,1/3, GOLA LANE,DR. D. N. RO...",None,MUMBAI. MAHARASHTRA.,AM YOUSUF AND CO,201609360,INNSA1,400001,1,189.048980

## data read by pages

# data clean

# save to Database

## Test mysql connection

In [ ]:
import mysql.connector as sql

mydb = sql.connect(
  host="127.0.0.1",
  user="wsh",
  password="8384810",
  database="Isynet_Test",
  auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM test_table")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

mycursor.close()
mydb.close()

## Test mysql insert one row

In [ ]:
from mysql.connector import MySQLConnection, Error
# from python_mysql_dbconfig import read_db_config

def insert_user(ID,User_Name,Account_NO,Address):
    query = "INSERT INTO test_table (ID,User_Name,Account_NO,Address) VALUES (%s,%s,%s,%s);"
    args = (ID,User_Name,Account_NO,Address)

    try:
        conn = sql.connect(
          host="127.0.0.1",
          user="wsh",
          password="8384810",
          database="Isynet_Test",
          auth_plugin='mysql_native_password'
        )
        cursor = conn.cursor()
        cursor.execute(query, args)

        if cursor.lastrowid:
            print('last insert id', cursor.lastrowid)
        else:
            print('last insert id not found')

        conn.commit()
    except Error as error:
        print(error)

    finally:
        cursor.close()
        conn.close()

def main():
   insert_user(5,'Benben','8384','Aulbra')

if __name__ == '__main__':
    main()

## Test mysql insert many row

In [ ]:
from mysql.connector import MySQLConnection, Error
# from python_mysql_dbconfig import read_db_config

def insert_users(users):
    query = "INSERT INTO test_table (ID,User_Name,Account_NO,Address) VALUES (%s,%s,%s,%s);"
#     args = (ID,User_Name,Account_NO,Address)

    try:
        conn = sql.connect(
          host="127.0.0.1",
          user="wsh",
          password="8384810",
          database="Isynet_Test",
          auth_plugin='mysql_native_password'
        )
        cursor = conn.cursor()
        cursor.executemany(query, users)

        conn.commit()
    except Error as error:
        print(error)

    finally:
        cursor.close()
        conn.close()

def main():
    users = [(6,'Benben','8384','Aulbra'),(7,'Benben','8384','Aulbra'),(8,'Benben','8384','Aulbra')]
    insert_users(users)

if __name__ == '__main__':
    main()

# data query

# necessary plot