#  read data

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel ('data/IMEX-IN-2016-06-EX.part2.xlsx',engine='openpyxl')

In [4]:
df.head(5)

,BillNO,4Digit,Date,HSCode,Product,Quantity,Unit,Item_Rate_INV,Currency,Total_Amount_INV_FC,...,IndianCompany,Address1,Address2,City,ForeignCompany,Invoice_No,CUSH,IEC_PIN,Item_No,Item_Rate_INR
0,8001439,2915,2016-06-01,29157090,ETHYLENE GLYCOL DISTERATE (Assay 98% minimum) ...,2400.000,KGS,2.855,USD,6852.000000,...,"GALAXY SURFACTANTS LTD.,","C-49/2,TTC INDUSTRIAL AREAPAWNE, NAVI MUMBAI.",NaN,MAHARASHTRA,UNILEVER BANGLADESH LTD.,80206964,INNSA1,400703,1,181.666300
1,8021997,2915,2016-06-01,29159090,COSMOSIL IM,2100.000,KGS,5.750,USD,12075.000000,...,DADIA CHEMICAL INDUSTRIES,"201, SHIVAM , 3RD FLOOR, SATYAM SHOPPING CENT...",NaN,"GHATKOPAR (EAST), MUMBAI","HARUMI HOLDINGS (PVT) LTD,",DCI/EXP-03/16-17,INNSA1,PIN-400077,1,387.831548
2,8019786,2916,2016-06-01,29163190,MEBEVERINE HCL BP,750.000,KGS,85.000,USD,63750.000000,...,RA CHEM PHARMA LIMITED,"#.6-3-1239/2, AMAR HOUSE, 4TH FLOORRAJBHAWAN R...",NaN,"HYDERABAD, A.P.",MEDICAL & COSMETIC PRODUCTS CO.LTD,EXP/A106/16-17,INHYD4,500082,1,5512.002000
3,8006507,2916,2016-06-01,29163990,WE INTEND TO CLAIM REWARDS UNDER MERCHANDISE E...,0.001,NOS,0.001,USD,0.000001,...,CHEMSPEC CHEMICALS PVT LTD,9 WALLACE ST FORT,NaN,"BOMBAY ,MAHARASHTRA",COSBEL S.A. DE C.V.,CSEXP/2016-17/143,INNSA1,400001,2,0.000000
4,8015210,2917,2016-06-01,29171990,"""Payflex-M-80"" Di Octyl Maleate Ester, C",44000.000,KGS,1.180,USD,51920.000000,...,PAYAL PETROCHEM PRIVATE LIMITED,"E-24, NETAJI SUBHASH MARGDARYAGANJ",NaN,NEW DELH I,S. S. C. I.. C. L.,PM/EXP/048,INHZA1,NaN,1,0.000000

In [9]:
col_name = df.columns
print(col_name)

Index(['BillNO', '4Digit', 'Date', 'HSCode', 'Product', 'Quantity', 'Unit',
       'Item_Rate_INV', 'Currency', 'Total_Amount_INV_FC', 'FOB INR',
       'ForeignPort', 'ForeignCountry', 'IndianPort', 'IEC', 'IndianCompany',
       'Address1', 'Address2', 'City', 'ForeignCompany', 'Invoice_No', 'CUSH',
       'IEC_PIN', 'Item_No', 'Item_Rate_INR'],
      dtype='object')

# data clean

# save to Database

# data query

# necessary plot